.custom-table-wrapper {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  max-height: 300px;
  overflow: auto;
}

.custom-table-header-row {
  background: #f9f9f9;
  box-shadow: 0 0 4px 0 #dddddd;
}
